.swiper-container {
    height: 100%;
}
.new-background-color{
    --background: #1cd6d6;
    
}
ion-list {
    height: 100%;
}
ion-list-header ion-label {
    font-size: 20px;
    padding: 25px 0px;
}
ion-slide {
    display: grid;
}
.info {
    margin: 30px;
    text-align: justify;
    font-size: 15px;
}