<ion-header [translucent]="true" >
  <ion-toolbar color="primary">
    <ion-title>
      Hogar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hogar</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="!running" style="height: 100%;">
    <form [formGroup]="washForm">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <ion-list>
          <ion-radio-group value="TamCarga">
            <ion-list-header>
              <ion-label>Escoja el tamaño de la carga</ion-label>
            </ion-list-header>
        
            <ion-item>
              <ion-label for="small">Pequeña</ion-label>
              <input type="radio" slot="start" name="tamCarga0" formControlName="tamCarga0" value="small">
            </ion-item>
        
            <ion-item>
              <ion-label for="medium">Mediana</ion-label>
              <input type="radio" slot="start" name="tamCarga0" formControlName="tamCarga0" value="medium">
            </ion-item>
        
            <ion-item>
              <ion-label for="small">Grande</ion-label>
              <input type="radio" slot="start" name="tamCarga0" formControlName="tamCarga0" value="big">
            </ion-item>
          </ion-radio-group>
        </ion-list>
        <div class="info">
          <p>Con la elección del tamaño para la carga está configurando la cantidad de ropa que se espera lavar y por lo tanto la cantidad de agua con la que se llenará</p>
        </div>
      </ion-slide>

      <ion-slide>
        <ion-list>
          <ion-radio-group value="TempLav">
            <ion-list-header>
              <ion-label>Escoja la temperatura de lavado</ion-label>
            </ion-list-header>
        
            <ion-item>
              <ion-label>Fría</ion-label>
              <input type="radio" slot="start" name="tempLav0" formControlName="tempLav0" value="cold">
            </ion-item>
        
            <ion-item>
              <ion-label>Tibia</ion-label>
              <input type="radio" slot="start" name="tempLav0" formControlName="tempLav0" value="med">
            </ion-item>
        
            <ion-item>
              <ion-label>Caliente</ion-label>
              <input type="radio" slot="start" name="tempLav0" formControlName="tempLav0" value="hot">
            </ion-item>

          </ion-radio-group>
        </ion-list>
        <div class="info">
          <p>Esta opción configura la temperatura con la cual se lavará la ropa</p>
        </div>
      </ion-slide>

      <ion-slide>
        <ion-list>
          <ion-radio-group value="TempEnj">
            <ion-list-header>
              <ion-label>Escoja la temperatura de enjuagado</ion-label>
            </ion-list-header>
        
            <ion-item>
              <ion-label>Fría</ion-label>
              <input type="radio" slot="start" name="tempEnj0" formControlName="tempEnj0" value="cold">
            </ion-item>
        
            <ion-item>
              <ion-label>Tibia</ion-label>
              <input type="radio" slot="start" name="tempEnj0" formControlName="tempEnj0" value="med">
            </ion-item>
        
            <ion-item>
              <ion-label>Caliente</ion-label>
              <input type="radio" slot="start" name="tempEnj0" formControlName="tempEnj0" value="hot">
            </ion-item>

          </ion-radio-group>
        </ion-list>
        <div class="info">
          <p>Esta opción configura la temperatura con la cual se enjuagará la ropa</p>
        </div>
      </ion-slide>

      <ion-slide>
        <ion-list>
          <ion-radio-group value="Tipo">
            <ion-list-header>
              <ion-label>Escoja el tipo de lavado</ion-label>
            </ion-list-header>
        
            <ion-item>
              <ion-label>Ciclo Regular</ion-label>
              <input type="radio" slot="start" name="tipoLav0" formControlName="tipoLav0" value="regular">
            </ion-item>
        
            <ion-item>
              <ion-label>Ciclo Perm Press</ion-label>
              <input type="radio" slot="start" name="tipoLav0" formControlName="tipoLav0" value="perm">
            </ion-item>
        
            <ion-item>
              <ion-label>Ciclo Delicado</ion-label>
              <input type="radio" slot="start" name="tipoLav0" formControlName="tipoLav0" value="delicate">
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-slide>

      <ion-slide>
        <ion-list lines="full">
          <ion-list-header>
            <ion-label>Configuración del ciclo de lavado</ion-label>
          </ion-list-header>

          <ion-item>
            <ion-label>Mediana</ion-label>
            <input type="radio" slot="start" name="configCiclo0" formControlName="configCiclo0" value="medium">
          </ion-item>
        
          <ion-item>
            <ion-label>Fria / Fria</ion-label>
            <input type="radio" slot="start" name="configCiclo0" formControlName="configCiclo0" value="cold">
          </ion-item>
        
          <ion-item>
            <ion-label>Perm Press</ion-label>
            <input type="radio" slot="start" name="configCiclo0" formControlName="configCiclo0" value="perm">
          </ion-item>
        </ion-list>
        <p class="p-info">
          Si quiere modificar algún parametro de la configuración de lavado tan solo retroceda y modifique.
        </p>
        <div>
          <ion-button color="secondary" (click)="run()">Iniciar Lavado</ion-button>
        </div>
      </ion-slide>

    </ion-slides>
  </form>
  </div>

  <div *ngIf="running" class="running">
    <div>
      <h3>Ciclo en progreso</h3>
      <ion-progress-bar color="primary" value="0.666"></ion-progress-bar>
    </div>
    <p>
      Características del ciclo escogido
    </p>
    <div class="options">
      <div *ngIf="stopping" class="stop">
        <ion-button color="danger"  (click)="stop()">Detener proceso</ion-button>
      </div>
      <div  *ngIf="!stopping" class="wait">
        <p>Proceso pausado</p>
        <div class="buttons">
          <ion-button color="success">Reanudar</ion-button>
          <ion-button color="danger" (click)="run()">Cancelar</ion-button>
          <ion-button color="warning" (click)="stop()">Reiniciar</ion-button>
        </div>
      </div>
    </div>

  </div>

</ion-content>
