.swiper-container {
    height: 100%;
}
.new-background-color{
    --background: #1cd6d6;
    
}
ion-list {
    height: 100%;
}
ion-list-header ion-label {
    font-size: 20px;
    padding: 25px 0px;
}
ion-list-header {
    padding: 0px;
}
ion-slide {
    display: grid;
}
.info {
    margin: 30px;
    text-align: justify;
    font-size: 15px;
}
.p-info {
    padding: 0px 25px;
    text-align: justify;
    font-size: 15px;
}
ion-button {
    margin-bottom: 40px;
}

.running {
    padding: 10px;
}
.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.buttons ion-button {
    margin: auto;
    font-size: 13px;
}
.wait p {
    text-align: center;
}
.stop {
    text-align: center;
}